.navbar-menu__private {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  line-height: 60px; /* Ova linija diktira visinu Navbar-a kada je korisnik prijavljen */
  background-color: transparent;
  border-bottom: 0;
  font-weight: bold;
}
